* {
    font-family: "Inter", serif;
}

code {
    font-family: monospace;
    font-weight: bold;
    color: #e5e5e5;
    background-color: #222;
    border-radius: 4px;
    padding: 2px 4px;
}

.notailwind h1,
.notailwind h2,
.notailwind h3,
.notailwind h4,
.notailwind h5,
.notailwind h6 {
    font-size: revert;
    font-weight: revert;
    margin: revert;
}
.notailwind p,
.notailwind ul,
.notailwind ol,
.notailwind blockquote {
    margin: revert;
    padding: revert;
}

.notailwind a {
    color: #e5e5e5;
    text-decoration: revert;
}

.notailwind blockquote {
    border-left: 4px solid #e5e5e5;
    padding-left: 1rem;
    font-style: italic;
}
